@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
    font-family: "Fredoka", sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    background-image: url(./img/hero.jpg);
    background-size: cover;
    text-align: center;
}

#board {
    width: 540px;
    height: 540px;
    background: url(./img/board-img.jpg);
    background-size: cover;
    border-radius: 25px;
    border: 3px solid red;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board div {
    width: 180px;
    height: 180px;
    background: url("./img/hole-img.jpg");
    background-size: cover;
}